<!-- 
 <app-admin></app-admin>
<app-user></app-user>

<app-data-binding></app-data-binding>
<app-ng-if></app-ng-if> 
<app-ng-for></app-ng-for>
<app-ng-class></app-ng-class>
<app-ng-style></app-ng-style>
<app-control-flow-statements></app-control-flow-statements>
<app-singal></app-singal>
<app-linked-signal></app-linked-signal>
-->


<ul>
    <li><a routerLink="getapi" routerLinkActive="active" ariaCurrentWhenActive="page">Get Api</a></li>
    <li><a [routerLink]="'postapi'" routerLinkActive="active" ariaCurrentWhenActive="page">Post Api</a></li>
    <!-- <li><a [routerLink]="'putapi'" routerLinkActive="active" ariaCurrentWhenActive="page">Put Api</a></li>
    <li><a [routerLink]="'deleteapi'" routerLinkActive="active" ariaCurrentWhenActive="page">Delete Api</a></li> -->
    <li><a [routerLink]="'resourceapi'" routerLinkActive="active" ariaCurrentWhenActive="page">Resource Api</a></li>
    <li><a [routerLink]="'lifecyle'" routerLinkActive="active" ariaCurrentWhenActive="page">Life Cycle Events</a></li>
    
    <li style="float:right;"> 
        <button type="button" routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">About</button>
    </li>
  </ul> 

<router-outlet></router-outlet>



