
<ul>
    <!-- <li><a routerLink="getapi" routerLinkActive="active" ariaCurrentWhenActive="page">Get Api</a></li>
    <li><a [routerLink]="'postapi'" routerLinkActive="active" ariaCurrentWhenActive="page">Post Api</a></li> -->
    <!-- <li><a [routerLink]="'putapi'" routerLinkActive="active" ariaCurrentWhenActive="page">Put Api</a></li>
    <li><a [routerLink]="'deleteapi'" routerLinkActive="active" ariaCurrentWhenActive="page">Delete Api</a></li> -->
    <!-- <li><a [routerLink]="'resourceapi'" routerLinkActive="active" ariaCurrentWhenActive="page">Resource Api</a></li> -->
    <!-- <li><a [routerLink]="'lifecyle'" routerLinkActive="active" ariaCurrentWhenActive="page">Life Cycle Events</a></li>
    <li><a [routerLink]="'pipe'" routerLinkActive="active" ariaCurrentWhenActive="page">Pipe </a></li> -->

    <li><a [routerLink]="'auto'" routerLinkActive="active" ariaCurrentWhenActive="page"> Auto </a></li>
    <li><a [routerLink]="'grocery'" routerLinkActive="active" ariaCurrentWhenActive="page"> Grocery </a></li>
    <li><a [routerLink]="'viewchild'" routerLinkActive="active" ariaCurrentWhenActive="page"> View Child </a></li>
    <!-- <li><a [routerLink]="'ngTemplateNgContainer'" routerLinkActive="active" ariaCurrentWhenActive="page"> NgTemplate NgContainer </a></li> -->
    <li><a [routerLink]="'weatherforecast'" routerLinkActive="active" ariaCurrentWhenActive="page"> Weather Forecast </a></li>
    
    <li style="float:right;"> <input type="button" id="logoff" value="Log Off" (click)="logoff()"/> </li>

  </ul> 

  <router-outlet></router-outlet>